@page "/deletenote/{noteid}"
@using SkyNotes.Common.EntityModels.Sqlite
@using SkyNotes.BlazorServer.Data
@inject ISkyNotesService Service
@inject NavigationManager NavigationManager

<h1>Delete Note</h1>

<div class="alert alert-danger">
  Warning! This action cannot be undone!
</div>

<NoteDetail ButtonText="Delete Note"
                ButtonStyle="danger" 
                Note="@_note" 
                OnValidSubmit="@Delete" />

@code {

    [Parameter]
    public string NoteId { get; set; } = null!;

    private Note? _note = new();
    
    protected override async Task OnParametersSetAsync()
    {
        _note = await Service.GetNoteAsync(int.Parse(NoteId));
    }

    private async Task Delete()
    {
        if (_note is not null)
        {
            await Service.DeleteNoteAsync(int.Parse(NoteId));
        }
        NavigationManager.NavigateTo("notes");
    }
}